<div class="avatar-info">

    <div class="lx-resume-img">
        <img src="../../../assets/images/profile-pic.jpg" />
    </div>
    <div class="lx-resume-name">
        <h2>{{resume.name}}</h2>
        <p class="designation">{{resume.title}}</p>

        <ul>
            <li *ngIf="resume.twitterUrl"><a href="{{resume.twitterUrl}}" target="_blank"><i
                        class="fa fa-twitter"></i></a>
            </li>
            <li *ngIf="resume.linkedInUrl"><a href="{{resume.linkedInUrl}}" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>

            <li *ngIf="resume.githubUrl"><a href="{{resume.githubUrl}}" target="_blank"><i
                        class="fa fa-github fa-lg"></i></a>
            </li>
        </ul>


    </div>
</div>