<div class="experience-sec">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border"><i class="fa fa-briefcase fa-lg"></i><span class="exp-head">Projects</span>
        </legend>

        <div class="lx-resume-bloc">

            <div class="lx-resume-experience">
                <ul>
                    <li *ngFor="let project of projects">
                        <h4>{{project.title}}

                        </h4>
                        <p>
                            {{project.description}}.
                        </p>

                        <div class="lx-resume-experience-technology">
                            <span *ngFor="let technology of project.technologies">
                                {{technology.description}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </fieldset>

</div>